root = true

# ==========================================================
# C++やシェーダーなどのテキストファイルに限定する
# ==========================================================
[*.{cpp,h,hpp,hlsl,hlsli,json,lua}]

charset = utf-8